APP_ENV=local
LOG_LEVEL=info
HTTP_ADDR=:8080

POSTGRES_DB=cyber_deploy_hub
POSTGRES_USER=cyber
POSTGRES_PASSWORD=change-me
DATABASE_URL=postgres://cyber:change-me@postgres:5432/cyber_deploy_hub?sslmode=disable
DATABASE_MAX_CONNS=10

NATS_URL=nats://nats:4222

OS_AUTH_URL=https://edu.cyber-infrastructure.ru:5000/v3
OS_USERNAME=
OS_PASSWORD=
OS_USER_DOMAIN_NAME=Hackhaton
OS_PROJECT_ID=b958d8568c81444ba6f408cffbad7d29
OS_PROJECT_NAME=hackhaton_team02
OS_PROJECT_DOMAIN_NAME=Hackhaton
OS_REGION_NAME=
OS_ALLOW_REAUTH=true
OS_INSECURE=true
OS_TIMEOUT=20s

KI_API_BASE_URL=https://edu.cyber-infrastructure.ru:8800
KI_PROJECT_ID=b958d8568c81444ba6f408cffbad7d29
KI_AUTH_TOKEN=
KI_SESSION_COOKIE=
KI_SESSION_ID=1
KI_USERNAME=
KI_PASSWORD=
KI_DOMAIN_NAME=Hackhaton
KI_TIMEOUT=10s

PROJECT_POOL_SEED_FILE=
PROJECT_POOL_SEED_JSON=
PROJECT_POOL_AUTO_IMPORT_OPENSTACK_PROJECT=true
PROJECT_POOL_DEFAULT_COURSE_ID=course-3
PROJECT_POOL_DEFAULT_DOMAIN_NAME=Hackhaton

CAPACITY_THRESHOLD_PERCENT=90

CLOUD_PRIVATE_NETWORK_ID=ec668bff-9d6e-491c-8f6a-42c37431e831
CLOUD_PRIVATE_SUBNET_ID=7c18fc9c-8c03-4909-92b1-7e394d066f69
CLOUD_SECURITY_GROUP_IDS=864f8b2c-7088-41f5-939b-197568c3355c
CLOUD_BLUEPRINT_FILE=/app/config/lab3_blueprints.json
CLOUD_BLUEPRINT_JSON=
CLOUD_KEY_ENCRYPTION_KEY=
CLOUD_KEY_ENCRYPTION_KEY_ID=default
CLOUD_DEPLOY_TIMEOUT=20m
CLOUD_POLL_INTERVAL=5s
CLOUD_DELETE_POLL_INTERVAL=3s

VDI_HTTP_ADDR=:8082
VDI_PUBLIC_BASE_URL=http://localhost:8082
VDI_ACCESS_TOKEN_TTL=15m

LIFECYCLE_POLL_INTERVAL=5s
LIFECYCLE_DUE_BATCH_SIZE=25
LIFECYCLE_DEFAULT_LAB_TTL=2h
LIFECYCLE_DEFAULT_FREEZE_TTL=24h
LIFECYCLE_DEFAULT_CAPACITY_THRESHOLD=90

CHECKER_PROFILE_FILE=/app/config/checker_profiles.json
CHECKER_PROFILE_JSON=
CHECKER_DEFAULT_SSH_USER=ubuntu
CHECKER_SSH_PORT=22
CHECKER_SSH_TIMEOUT=20s
CHECKER_COMMAND_TIMEOUT=15s

LMS_GATEWAY_PORT=8083
LMS_HTTP_ADDR=:8083
LMS_SHARED_SECRET=change-me
LMS_ALLOWED_CLOCK_SKEW=5m
LMS_COURSE_MAP_JSON=
LMS_ASSIGNMENT_MAP_JSON=
LMS_DEFAULT_SOURCE=moodle
